
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: black;
}

header{
    position: sticky;
    top: 0;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.navbar h2{
    padding: 5px 30px;
    font-size: 40px;
}

.navbar b{
    color: rgb(59,59,197);
}

.nav-list ul li{
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
}
.nav-a{
    font-size: 25px;
    padding: 0px 30px;
}

.nav-list i{
    font-size: 25px;
}

.nav-list ul li::after{
    content: '';
    background-color: white;
    height: 2px;
    display: block;
    width: 0;
    transition: 1s;
}
.nav-list ul li:hover::after{
    width: 100%;
}

#log{
    color: white;
    background-color: rgb(59,59,197);
    border-radius: 2px;
    padding: 5px 10px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgb(226, 223, 223);
}
section{
    background-color: whitesmoke;
    padding: 20px;
    margin-top: 5px;
}
section h1{
    text-align: center;
    font-size: 60px;
    color: 0;
    margin: 1.5 0px;
}
.left-column{
    float: left;
    width: 75%;
}
.right-column{
    width: 25%;
    float: right;
    padding-left: 20px;
}
.card{
    padding: 20px;
    background-color: #ffffff;
    margin-top: 20px;
}
.card img{
    width: 100%;
}
.right-column img{
    margin-bottom: 10px;
}

.footer{
    background-color: rgb(59, 59, 197);
    color: white;
}

.footer1{
    display: flex;
    gap: 30px;
    padding: 30px 5%;
    width: 100%;
}
                                                      
.footer2 h2{
    font-size: 40px;
}

.footer p{
    margin-bottom: 20px;
}

.footer3{
    display: flex;
    gap: 40px;
    padding: 20px 5% 30px 10%;
    font-size: 20px;
}

.footer3 h4:first-child{
    margin-bottom: 40px;
}

.footer3 h4:nth-child(2){
    margin-bottom: 40px;
}

.footer3 a{
    text-decoration: none;
    color: white;
}

.footer4{
    padding: 10px 0px;
}

.footer4 h2{
    font-size: 20px;
    margin-bottom: 15px;
}

.footer4 h4:nth-child(2){
    margin-bottom: 25px;
}

.footer4 h4:nth-child(3){
    margin-bottom: 25px;
}

.icons{
    text-align: center;
    padding: 30px 0px;
    font-size: 25px;
}

.icons-list i{
    font-size: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(59, 59, 197);
}

.icons-list a{
    padding: 10px;
}

.input input{
    width: 500px;
    outline: none;
    padding: 10px 10px 10px 0px;
    margin-bottom: 15px;
}

.input input::placeholder{
    color: grey;
}

.input-field input{
    width: 500px;
    padding: 10px 50px;
}

.end{
    text-align: center;
}

#check{
    display: none;
}

.checkbtn{
    color: white;
    display: none;
}

@media(max-width: 768px){
    .navbar{
        display: block;
        height: 10vh;
    }

    .navbar h2{
        font-size: 30px;
        padding: 10px 20px;
    }

    .nav-list ul li{
        display: block;
        text-align: center;
        margin-top: 15px;
    }

    .checkbtn{
        display: block;
        float: right;
        font-size: 20px;
    }

    .nav-list{
        position: relative;
        left: -200%;
        width: 100%;
        background-color: rgb(59,59,197);
        transition: 1s;
    }

    #check:checked ~ .nav-list{
        left: 0;
    }

    .nav-a{
        position: absolute;
        top: 40%;
        left: -20px;
    }

    .right-column img{
        width: 250px;
    }

    .left-column{
        float: none;
    }

    .right-column{
        float: none;
        width: 400px;
    }
}


